html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    background-color: black;
    text-align: center;
    
}

@keyframes backgroundchange {
    
}

.header{
    color: orange;
    max-width: 100%;
    align-items: left;
    margin: 10px;
}



.header h1, img{
    flex-basis: 90%;
}

.header h1{
    text-align: center;
    font-family: creepster;
    text-shadow: black;
}


.scary{
    display: flex;
    flex-direction: row;
    max-width: 90%;
}

.scary *{
    flex-basis: 100%;
    background-color: black;
    margin: 10px;
    width: 200px;
    height: 500px;
    border: 10px solid orange;
    padding: 15px;
    background-image: url("./img/scarydoor2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg);}
    40% { transform: translate(1px, -1px) rotate(1deg);}
    50% { transform: translate(-1px, 2px) rotate(-1deg);}
    60% { transform: translate(-3px, 1px) rotate(0deg);}
    70% { transform: translate(3px, 1px) rotate(-1deg);}
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg);}
    100% { transform: translate(1px, -2px) rotate(-1deg);}
  }


.scaryitem1:hover{
    background-image: url("./img/pumpkin.jpeg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.2);
    animation-name: shake;
    animation-duration: 0.5s;
    animation-iteration-count: infinite; 
}


@keyframes flickerLG {
    0% {
      opacity: 0.19;
    }
    5% {
      opacity: 0.2;
    }
    10% {
      opacity: 0.25;
    }
    15% {
      opacity: 0.35;
    }
    25% {
      opacity: 0.2;
    }
    30% {
      opacity: 0.4;
    }
    35% {
      opacity: 0.1;
    }
    40% {
      opacity: 0.25;
    }
    45% {
      opacity: 0.2;
    }
    60% {
      opacity: 0.4;
    }
    70% {
      opacity: 0.35;
    }
    80% {
      opacity: 0.4;
    }
    90% {
      opacity: 0.2;
    }
    100% {
      opacity: 0.4;
    }
  }

  .scaryitem2:hover{
    background-image: url("./img/fullmoon.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation-name: flickerLG;
    animation-duration: 0.5s;
    animation-iteration-count: infinite; 
}

@keyframes glow {
    to{
      box-shadow: 0 0 120px 50px;
    }
}

.scaryitem3:hover{
    background-image: url("./img/scarymask.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation-name: glow;
    animation-duration: 0.5s;
    animation-iteration-count: infinite; 
}

@keyframes jumpupdown{
    from{background-position: bottom;}
    to {background-position: top;}
}

.scaryitem4:hover{
    background-image: url("./img/skeleton.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation-name: jumpupdown;
    animation-duration: 0.5s;
    animation-iteration-count: infinite; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.scaryitem5:hover{
    background-image: url("./img/bestscarymovies.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite; 
}

@keyframes flyaround {
    0% {background-position: left;}
    10% {background-position: right;}
    20% {background-position: left;}
    30% {background-position: right;}
    40% {background-position: right;}
    50% {background-position: left;}
    60% {background-position: right;}
    70% {background-position: left;}
    80% {background-position: right;}
    90% {background-position: left;}
    100% {background-position: right;}

}

.scaryitem6:hover{
    background-image: url("./img/bat.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation-name: flyaround;
    animation-duration: 5s;
    animation-iteration-count: infinite; 
}



.scaryitem7:hover{
    background-image: url("./img/witch.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
